*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* header-starts */
a,p,li{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
img{
    max-width: 100%;
    vertical-align: center;
}
.logo{
    font-size: 26px;
    font-weight: 700;
    padding: 10px 20px;
}

.nav-links li{
    list-style: none;
    display: inline-block;
}
.nav-links li a{
    margin: 0 15px;
    font-size: 17px ;
    font-weight: 600;
    
}
.nav-links li a:hover{
    color: red;
}
/* header-ends */
.container{
    max-width: 1200px;
    margin-right: 0 auto;
}
/* banner-starts */
.banner{
    display: flex;
    margin-top: 100px;
}
.banner-left{
    margin-left: 130px;
    margin-top: 100px;
}
.btn{
    margin-top: 20px;
    border: none;
    background-color: #dd226a;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s linear;
}
.btn:hover{
    background-color:  #ff8000;
}

/* banner-ends */
/* gallary-starts */
.gallary{
    display: flex;
    flex-wrap: wrap;
    margin: 14%;
}
.box{
    display: block;
    float: left;
    width:25%;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 5px ;
}
.box img{
    width: 80%;
    border-radius: 4%;
}
.title{
    margin-left: 30%;
    margin-bottom: 5%;
    font-size: 30px;
}
.fa-star.faild{
    color: #ffc014;
}

.fa-star.empty{
    color: #aeaeae;
}
.rating{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: 700;

}
.button {
    margin-left: 75%;
    margin-bottom: 15px;
    margin-top: 20px;
    background-color: gry;
    border: none;
}
.button-one{
    border: none;
    font-size: 16px;
    font-weight: 800;
    color: #ee7d0bf3;
}
/* gallary-ends */
/* form-up started */

.form{
    margin-right: 10%;
    min-height: 20px;
    background-color: rgba(5, 149, 168, 0.795);
    padding: 50px;
    margin-bottom: 5%;
}
.up{
  margin: 10%;
}
.up p{
   text-align: justify;
}
.input-box{
    height: 35px;
    outline: none;
}
.form-up{
    display: flex;
    width: 100%;
}
.love-btn{
    margin-top: 20px;
    border: none;
    background-color: #22bedd;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s linear;
    
}
.love-btn:hover{
    background-color:  #ff8000;
}
/* form-up ended */
/* footer started */
.footer-box{
    background-color: rgb(4, 7, 54);
    height: 200px;
    
}
.footer-text{
    color: white;
    text-align: center;
    font-weight: 300;
    padding-top: 20px;
}
.footer-text h5{
    font-weight: 300;
}
.social-link{
    color: rgb(12, 1, 19);
    text-align: center;
    font-size:20px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.social-link a{
    color: white;
    text-align: center;
    margin: 5px;
    border-radius: 50%;
}
/* footer ended */

@media (max-width:576px)
{
    .banner{
        flex-direction: column;
    }
    .nav-links{
        display: none;
    }
    .banner-left{
        margin: 20px;
    }
    .box{
        display: block;
        float: left;
        width:95%;
        padding: 10px;
        box-shadow: 0 0 2px ;
        margin-left: 20%;
    }
    .title{
        margin-left: 10%;
    }
    .gallary{
        display: flex;
    }
    .button-one{
       margin-left: -190%;
    }
    .form-up{
        flex-direction: column;
    }
    .up{
        margin-left: 20%;
     }
     .form{
         margin:1% auto;
         width: 40%;
     }
}
@media (max-width:768px){
    .nav-links{
        display: none;
    }
    .banner-left{
       margin: 40px;
       
    }
    .box{
        display: block;
        float: left;
        width: 40%;
        padding: 10px;
        box-shadow: 0 0 2px ;
    }
   
}